/* Full page background */
.registration-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/pexels-fukajaz-31871910.jpg'); /* Correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center; /* Centers the form vertically */
}

/* Form card styling */
.registration-form-container {
  background: rgba(211, 231, 248, 0.75);
  padding: 30px;
  border-radius: 12px;
  width: 900px;
  max-width: 95%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.registration-form-container h1 {
  color: rgb(43, 43, 28);
  margin-bottom: 25px;
  font-weight: bold;
}

/* Row style */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

/* Form inputs */
.row input,
.row select {
  width: calc(50% - 10px);
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ffffffc9;
  color: rgb(43, 43, 28);
  font-size: 15px;
}

/* Button */
button {
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(249, 249, 247);
  padding: 12px 26px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background: rgb(236, 202, 115);
  color: black;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row input,
  .row select {
    width: 100%;
    margin-bottom: 10px;
  }

  .registration-form-container {
    width: 95%;
  }
}
