/* Sign-in page styling */
.sign-in-container {
  height: 109%; /* Use 100vh to cover the full viewport height */
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/pexels-asadphoto-3601453.jpg');
  background-size: cover;
  background-position: center;
  display: flex; /* Center content vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Login container styling */
.sign-in-form-container {
  background:rgba(243, 243, 243, 0.726);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
  text-align: center;
  width: 350px;
}

.sign-in-form-container h1 {
  color: rgb(34, 34, 23);
  margin-bottom: 20px;
}

.sign-in-form-container input[type="text"],
.sign-in-form-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fdfdfdc3;
  color: rgb(30, 30, 20);
}

.sign-in-form-container a {
  color: rgb(36, 31, 31);
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
}

.sign-in-form-container button {
  background-color: rgb(0, 0, 0);
  color: rgb(254, 254, 252);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 252, 252, 0.279);
  cursor: pointer;
}

.sign-in-form-container button:hover {
  background: rgb(241, 241, 226);
  color: rgb(29, 37, 30);
}

.sign-in-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.sign-in-options input[type="checkbox"] {
  margin-right: 5px;
}

.sign-in-options a {
  text-decoration: underline;
}
