/* Navbar styling */
.navbar {
  background-color: #00676904;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Logo styling */
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Arial', cursive;
  color: rgb(0, 0, 0);
}

/* Navigation links styling */
.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links a {
  background-color: rgb(0, 0, 0);
  color: #fafbfded;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid rgba(88, 122, 88, 0.308);
  margin-left: 20px;
  font-weight: bold;
}

/* Specific button styling */
.navbar .home-btn {
  background-color: rgb(0, 0, 0); /* Different color for home button */
  color: #fdffff;
}

.navbar .contact-us-btn {
  background-color: rgb(0, 0, 0); /* Different color for contact us button */
  color: #e9f7f7;
}
