body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.kyoto-wrapper {
    background-color: #f4f4f4; /* Ensure it matches the desired background */
    min-height: 100vh;
}

.kyoto-main-content {
    background: #fafdfd;
    color: #040504;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.kyoto-main-content h2 {
    margin-top: 0;
    font-size: 2em;
    text-transform: uppercase;
}

.kyoto-day {
    background: #e3e6e5;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.kyoto-day h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.kyoto-day p {
    font-size: 1.1em;
}

.kyoto-text-content {
    width: 50%;
}

.kyoto-day-image {
    width: 45%;
    height: 200px;
    background-size: cover;  /* Ensures the image covers the div */
    background-position: center;  /* Centers the background image */
    border-radius: 10px;
    margin-left: 10px; /* Add some space between text and image */
}

/* Specific background images for each day */
.kyoto-day1 .kyoto-day-image {
    background-image: url('/public/image.jpg'); /* Replace with correct path */
}

.kyoto-day2 .kyoto-day-image {
    background-image: url('/public/shutterstock_1135380932.jpg'); /* Replace with correct path */
}

.kyoto-day3 .kyoto-day-image {
    background-image: url('/public/mbdnj200000000yu.jpg'); /* Replace with correct path */
}

.kyoto-day4 .kyoto-day-image {
    background-image: url('/public/kyoto-japan-tofuku-ji.jpg'); /* Replace with correct path */
}

.kyoto-day5 .kyoto-day-image {
    background-image: url('/public/kyoto-nijo-castle-207583.jpg'); /* Replace with correct path */
}

/* Day 6 image for Nara day trip */
.kyoto-day6 .kyoto-day-image {
    background-image: url('/public/pexels-michalmarek-1774389.jpg');
}

.kyoto-purchase-button {
    background-color: yellow;
    color: teal;
    padding: 15px 30px;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    border: #006769;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.kyoto-purchase-button:hover {
    background-color: rgba(228, 239, 22, 0.819);
}
