html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Solid background color */
}

.newyork-wrapper {
    background-color: #f4f4f4; /* Ensure it matches the desired background */
    min-height: 100vh; /* Ensure it covers the full height */
}

.newyork-header {
    background-color: #f8fbfb;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.newyork-logo {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Playwrite GB S', cursive;
    color: #ecf8c6;
}

.newyork-contact-info {
    display: flex;
    align-items: center;
}

.newyork-contact-info div {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.newyork-main-content {
    background: #fafdfd;
    color: #040504;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.newyork-main-content h2 {
    margin-top: 0;
    font-size: 2em;
    text-transform: uppercase;
}

.newyork-day {
    background: #e3e6e5;/* Day background color */
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;           /* Use flexbox for layout */
    justify-content: space-between; /* Ensure text and image are spaced apart */
    align-items: center;     /* Align items vertically in the center */
    text-align: left;        /* Ensure text is aligned to the left */
}

.newyork-day h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.newyork-day p {
    font-size: 1.1em;
}

.newyork-text-content {
    width: 50%; /* Adjust text content width */
}

.newyork-day-image {
    width: 45%;              /* Adjust image width */
    height: 200px;           /* Fixed height for the image */
    background-size: cover;  /* Ensure the image covers the div */
    background-position: center;
    border-radius: 10px;
    margin-left: 20px;       /* Space between text and image */
    align-self: flex-end;    /* Ensure the image is aligned to the right */
}

.newyork-day1 .newyork-day-image {
    background-image: url('/public/nyc-day1.jpg'); /* Replace with actual image link */
}

.newyork-day2 .newyork-day-image {
    background-image: url('/public/nyc-day2.jpg'); /* Replace with actual image link */
}

.newyork-day3 .newyork-day-image {
    background-image: url('/public/nyc-day3.jpg'); /* Replace with actual image link */
    background-position:0px;
}

/* Day 4 image for Brooklyn & High Line */
.newyork-day4 .newyork-day-image {
    background-image: url('/public/pexels-jonathan-lassen-1263409-2404667.jpg');
}

.newyork-purchase-button {
    background-color: yellow;
    color: teal;
    padding: 15px 30px;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    border: #006769;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.newyork-purchase-button:hover {
    background-color: rgba(228, 239, 22, 0.819);
}
